<!doctype html>

<meta http-equiv="refresh" content="0;URL=https://www.koharakazuya.net{{ .URL }}">
<meta charset="utf-8">
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/header.css">
<link rel="stylesheet" href="/styles/footer.css">
<link rel="stylesheet" href="/styles/preview-line.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="alternate" type="application/rss+xml" href="/index.xml" />
<title>{{ .Site.Title }}</title>
